* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    background-color: #fafafa;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: #153962;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #b57c02;    
    border-radius: 20px;       
    border: 3px solid #c79a5c; 
  }


/* HEADER  ---------------------------------------------------------------------*/
header {
    width: 100%;
    background-color: #fafafa;
    height: 100px;
    padding: 0 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d8d7d7;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

}
.navegacao-provisorio {
    display: flex;
}

header img {
   width: 150px;     
}
header .navegacao {
    display: flex;
    align-items: center;
}
header nav ul {
    list-style: none;
    display: flex;
}
header nav ul li {
    margin-right: 15px;
    margin-left: 15px;
}
header ul li a {
    text-decoration: none;
    align-items: center;
    font-weight: 700;
    color: #153962;
    transition: all ease 0.3s;
    cursor: pointer;
}
header ul li a:hover {
    color: #edae23;
}
header a.fale-conosco{
    background-color: #edae23;
    text-decoration: none;
    padding: 10px 20px;
    color: #fafafa;
    border-radius: 1rem;
    cursor: pointer;
    transition: all ease 0.3s;

}
header a.fale-conosco:hover {
     background-color: #b57c02;
}
header .material-symbols-outlined{
    color: #153962;
    cursor: pointer;
    margin-left: 40px;
    transition: all ease 0.3s;
}
header .material-symbols-outlined:hover {
    color: #b57c02;
}
span.material-symbols-outlined{
    font-size: 40px;
}


/* MISSAO  ---------------------------------------------------------------------*/

#missao {
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.missao-conteudo {
    width: 85%;
    height: 75%;
    background-color: #edae23;
    border-radius: 2rem;
    background-image: url('img/fundo.png');
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 1rem 8rem;
}
.missao-conteudo h1 {
    color: #00162f;
    font-size: 7rem;
    letter-spacing: -2px;
    line-height: 90px;
}
.missao-texto {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.8rem;
    text-align: center;
}
.missao-texto h3 {
    color: #00162f;
    font-weight: 400;
    font-family: 'Unbounded';
    line-height: 30px;
}
.missao-texto h3 span {
    font-family: 'Unbounded';
    font-weight: 800;
}
.spas img,
.spas1 img {
    width: 70px;
}
.missao-texto .spas1,
.missao-texto .spas {
    height: 70%;

}

.missao-texto .spas1 {
    display: flex;
    align-items: end;
}


/* INICIO  ---------------------------------------------------------------------*/


#inicio {
    width: 100%;
    height: 80vh;
    background-color: #fafafa;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.inicio-anuncio {
    width: 100%;
    background-color: #edae23;
    height: 100%;
    background-image: url('img/fundo-inicio.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
}

.inicio-anuncio img {
    height: 100%;
    margin-left: -90px;
}

.inicio-anuncio .inicio-contatos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
}
.inicio-contatos h3 {
    color: #00162f;
    font-weight: 600;
    font-size: 1.5rem;
}
.inicio-contatos h1 {
    color: #00162f;
    font-weight: 800;
    font-size: 3.7rem;
    line-height: 50px;
    letter-spacing: -2px;
    
}
.inicio-contatos a {
    text-decoration: none;
    padding: 10px 20px;
    color: #00162f;
    border-radius: 2rem;
    cursor: pointer;
    transition: all ease 0.3s;
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    width: 90%;
    display: flex;

    border: 3px solid #00162f;
}
.inicio-contatos a:hover {
    background-color: #00162f;
    color: #edae23;
}





/* QUEM SOMOS?  ---------------------------------------------------------------------*/


#quemSomos {
    width: 100%;
    background-color: #fafafa;
    height: 80vh;
    padding: 0 11rem;
    display: flex;
    align-items: center;
}

#quemSomos img {
    height: 70%;
    
}
.quemSomos-textos {
    padding: 0 4rem;
    font-family: 'Unbounded';
}
#quemSomos .quemSomos-textos h1 {
    color: #edae23;
    font-size: 3rem;
    margin-bottom: 10px;
    letter-spacing: -2px;
    font-family: 'Unbounded';

}

#quemSomos .quemSomos-textos h2 {
    color: #153962;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Unbounded';
}




/* SERVICOS  ---------------------------------------------------------------------*/

#servicos {
    width: 100%;
    height: 85vh;
    background-color: #153962;
    border-radius: 3rem;
    background-image: url('img/fundo-servicos.png');
    background-size: cover;
    background-position: center;

}

.servicos-textos {
    width: 100%;
    padding: 3.5rem 6rem;
}
.servicos-textos h1 {
    color: #edae23;
    font-size: 3rem;
    letter-spacing: -2px;
}
.servicos-container {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-around;
}

.servicos-item {
    width: 400px;
    height: 350px;
    border: solid 2px #d8d7d7;
    border-radius: 3rem;
    transition: all ease 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
}
.servicos-item:hover { 
    border-bottom: solid 15px #b57c02;
    background-color: #00162f;
}

.servicos-item img {
    width: 100px;
}
.servicos-item h1 {
    margin-top: 20px;
    font-size: 1.6rem;
    line-height: 30px;
    color: #edae23;
}
.servicos-item h3 {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #d8d7d7;
}


/* FOOTER  ---------------------------------------------------------------------*/

#footer {
    width: 100%;
    height: 100%;
    background-color: #edae23;
}

.footer-redeSociais {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 2rem;

}

.footer-redesSociais-item {
    background-color: #b57c02;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: all ease 0.3s;
    margin-left: 10px;
    margin-right: 10px;
}
.footer-redesSociais-item:hover {
    background-color: #00162f;
}
.footer-redesSociais-item img {
    width: 100%;
}

.footer-informacoes {
    width: 100%;
    padding: 0 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-informacoes img {
    width: 40%;
}

.footer-informacoes-item {
    width: 50%;
    padding: 0 4rem;
}

.footer-informacoes-item h1 {
    font-size: 2rem;
    color: #00162f;
    letter-spacing: -2px;
}

.footer-informacoes-item h3 {
    color: #00162f;
    font-weight: 600;
}

.footer-copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}
.footer-copyright img {
    width: 80%;
}

/* MEMBROS  ---------------------------------------------------------------------*/

#membros {
    height: 100%;
    width: 100%;
    padding: 7rem 2rem;
}
.membros-textos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    flex-direction: column;

}
.membros-textos h1 {
    color: #00162f;
    font-size: 4rem;
    letter-spacing: -2px;
}
.membros-textos h2 {
    color: #00162f;
    font-weight: 300;
    font-family: 'Unbounded';
    margin-top: 10px;
    
}
.membros-container {
    border-radius: 3rem;
    overflow: hidden;
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
}
.membros-container .membros-item2,
.membros-container .membros-item1 {
    width: 280px;
    height: 280px;
    background-color: #153962;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.membros-container .membros-item1 {
    background-color: #00162f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.membros-item1 img,
.membros-item2 img {
    height: 80px;
}
.membros-item2 h1,
.membros-item1 h1{
    color: #d8d7d7;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Unbounded';
    line-height: 20px ;
    margin-top: 15px;
}
.borda {
    border-bottom-left-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
}
.borda1 {
    border-bottom-right-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
}



/* HAMBURGUER  ---------------------------------------------------------------------*/


@keyframes scale-in {
    0% {
      height: 0;
    }
    100% {
      height: 300px;
    }}

.menu-hamburguer {
    width: 300px;
    height: 300px;
    position: fixed;
    z-index: 1000;
    background-color: #fafafa;
    right: 0;
    display: none;
    animation-name: scale-in;
    animation-duration: 0.3s;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}
.menu-hamburguer a {
    font-size: 1.4rem;
    color: #00162f;
    font-weight: 400;
    font-family: 'Unbounded';
    cursor: pointer;
    margin-top: 10px;
    transition: all ease 0.3s;
    text-decoration: none;
}
.menu-hamburguer a:hover {
    color: #b57c02;
}










@media (max-width: 700px){ 


    header {
        width: 100vw;
        height: 100px;
        padding: 0 5vw;

    }
    
    header img {
       width: 120px;     
    }
    header .navegacao {
        display: none;
        
    }
   
/* INICIO  ---------------------------------------------------------------------*/


#inicio {
    width: 100vw;
    height: 100%;

}

.inicio-anuncio {
    background-image: url('img/fundo-inicio.png');
    background-size: cover;
    background-position: center;
    flex-direction: column;
    padding: 3rem 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}

.inicio-anuncio img {
    width: 100%;
    height: auto;
    margin-left: 0px;
}

.inicio-anuncio .inicio-contatos {
    margin-top: 30px;
    flex-direction: column;
    width: 100%;
    margin-left: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.inicio-contatos h3 {
    font-size: 1.5rem;
}
.inicio-contatos h1 {
    font-size: 2.3rem;
    line-height: 30px;  
}
.inicio-contatos a {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    width: 80%;
}




/* MISSAO  ---------------------------------------------------------------------*/

#missao {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}
.missao-conteudo {
    width: 85%;
    height: 75%;
    background-color: #edae23;
    border-radius: 2rem;
    background-image: url('img/fundo.png');
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 3rem 0;
    flex-direction: column;
}
.missao-conteudo h1 {
    font-size: 4rem;
    letter-spacing: -2px;
    line-height: 50px;
    text-align: center;
}
.missao-texto {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    text-align: center;
}
.missao-texto h3 {
    color: #00162f;
    font-weight: 400;
    font-family: 'Unbounded';
    margin-top: 20px;
    line-height: 30px;
    font-size: 1.2rem;
}
.missao-texto h3 span {
    font-family: 'Unbounded';
    font-weight: 800;
}
.spas img,
.spas1 img {
    width: 40px;
}
.missao-texto .spas1,
.missao-texto .spas {
    height: 100%;

}
/* QUEM SOMOS?  ---------------------------------------------------------------------*/


#quemSomos {
    width: 100%;
    height: 100%;
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#quemSomos img {
    height: auto;
    width: 80%;
    
}
.quemSomos-textos {
    padding: 0 1rem;
    text-align: center;
    margin-top: 20px;
}
#quemSomos .quemSomos-textos h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    letter-spacing: -2px;
}

#quemSomos .quemSomos-textos h2 {

    font-size: 1.2rem;

}



/* SERVICOS  ---------------------------------------------------------------------*/

#servicos {
    width: 100%;
    height: 100%;
    background-color: #153962;
    border-radius: 3rem;
    background-image: url('img/fundo-servicos.png');
    background-size: cover;
    background-position: center;
    padding: 3.5rem 0;

}

.servicos-textos {
    width: 100%;
    padding: 1rem 6rem;
    text-align: center;
    
}
.servicos-textos h1 {
    color: #edae23;
    font-size: 3rem;
    letter-spacing: -2px;
    line-height: 50px;
}
.servicos-container {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.servicos-item {
    width: 100%;
    height: 350px;
    margin-top: 20px;
}
.servicos-item:hover { 
    border-bottom: solid 15px #b57c02;
    background-color: #00162f;
}

.servicos-item img {
    width: 100px;
}
.servicos-item h1 {
    margin-top: 20px;
    font-size: 1.6rem;
    line-height: 30px;
    color: #edae23;
}
.servicos-item h3 {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #d8d7d7;
}


/* FOOTER  ---------------------------------------------------------------------*/

#footer {
    width: 100%;
    height: 100%;
}

.footer-redeSociais {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 1rem;

}

.footer-redesSociais-item {
    background-color: #b57c02;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: all ease 0.3s;
    margin-left: 5px;
    margin-right: 5px;
}
.footer-redesSociais-item:hover {
    background-color: #00162f;
}
.footer-redesSociais-item img {
    width: 100%;
}

.footer-informacoes {
    width: 100%;
    padding: 0 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-informacoes img {
    width: 60%;
    margin-bottom: 30px;
}

.footer-informacoes-item {
    width: 100%;
    padding: 0 0;
}

.footer-informacoes-item h1 {
    font-size: 2rem;
}


.footer-copyright {
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}
.footer-copyright img {
    width: 130%;
}


}