* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    background-color: #319cbd;
}

body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: #fafafa;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #319cbd;    
    border-radius: 20px;       
    border: 3px solid #57c0e0; 
  }

/* HEADER  ---------------------------------------------------------------------*/
header {
    width: 100%;
    height: 100px;
    padding: 0 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2000;
    left: 0;
    right: 0;
    top: 0;

}
.navegacao-provisorio {
    display: flex;
}
header img {
  height: 40%;   
}
header .navegacao {
    display: flex;
    align-items: center;
}
header nav ul {
    list-style: none;
    display: flex;
}
header nav ul li {
    margin-right: 20px;
    margin-left: 20px;
}
header ul li a {
    text-decoration: none;
    align-items: center;
    font-weight: 300;
    color: #fafafa;
    transition: all ease 0.3s;
    cursor: pointer;
    font-size: 0.8rem;
    font-family: 'Unbounded';
}
header ul li a:hover {
    color: #57c0e0;
}


header .material-symbols-outlined{
    color: #57c0e0;
    cursor: pointer;
    margin-left: 40px;
    transition: all ease 0.3s;
}
header .material-symbols-outlined:hover {
    color: #fafafa;
}
span.material-symbols-outlined{
    font-size: 40px;
}




/* INICIO  ---------------------------------------------------------------------*/

#inicio {
    width: 100%;
    height: 90vh;
    background-image: url('imgPerfil/fundoInicio.png');
    background-size: cover;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 4rem;
    padding-top: 100px;
}
.inicio-informacoes {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 30px;

}
.inicio-informacoes h1 {
    color: #fafafa;
    font-size: 5rem;
    color: #57c0e0;
    margin-top: -20px;
    letter-spacing: -2px;

}
.inicio-informacoes h2 {
    color: #fafafa;
    font-size: 4rem;
    letter-spacing: -2px;
}
.inicio-informacoes h3 {
    color: #fafafa;
    font-weight: 300;
    letter-spacing: 15px;
}
.inicio-informacoes a {
    text-decoration: none;
    color: #fafafa;
    margin-top: 30px;
    font-size: 1.5rem;
    border: 2px solid #fafafa;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 1rem;
    border-radius: 2rem;
    transition: all ease 0.3s;
    cursor: pointer;
}
.inicio-informacoes a:hover {
    background-color: #fafafa;
    color: #0a012e;
}
#inicio img {
    height: 60vh;
}



/* INCLUDE  ---------------------------------------------------------------------*/


#include {
    width: 100%;
    height: 70vh;
    background-color: #57c0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#include iframe {
    border-radius: 2rem;
}

#include h1 {
    color: #fafafa;
    font-size: 5rem;
    font-family: 'Unbounded';
    line-height: 70px;
    margin-left: 20px;
}
#include span {
    color: #0a012e;
    font-family: 'Unbounded';
}


/* SOBRE MIM  ---------------------------------------------------------------------*/

#sobreMim {
    width: 100%;
    height: 100%;

    background-color: #319cbd;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 10rem;
}

#sobreMim img {
    height: 400px;
}

.sobreMim-texto {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    max-width: 700px;
}
.sobreMim-texto h1 {
    color: #0a012e;
    font-family: 'Unbounded';
    font-size: 3rem;
}
.sobreMim-texto h3 {
    margin-top: 10px;
    line-height: 30px;
    color: #fafafa;
    font-family: 'Unbounded';
    font-weight: 300;
}


/* habilidades  ---------------------------------------------------------------------*/

#habilidade {
    width: 100%;
    height: 80vh;
    background-color: #57c0e0;
    padding: 5rem 2rem;
}
.habilidade-titulo {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.habilidade-titulo h1 {
    color: #05001c;
    font-family: 'Unbounded';
    font-size: 3rem;
}





.container-habilidades {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.habilidades-seta-right,
.habilidades-seta-left {
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.habilidades-seta-right {
    justify-content: end;
}

.habilidades-seta-right svg,
.habilidades-seta-left svg {
    width: 40px;
}

.habilidades-seta-right > svg path,
.habilidades-seta-left > svg path {
    
    fill: #05001c;
    transition: all ease 0.3s;
    cursor: pointer;
}

.habilidades-seta-right svg:hover path,
.habilidades-seta-left svg:hover path {
    fill: #f4ebdc;
}

.habilidades-listarea {
    height: 100%;
    width: 100%;

    overflow: hidden;
}

.habilidades-list {
    height: 100%;
    width: 3400px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    transition: all ease 0.3s;
}

.habilidades-item {
    width: 350px;
    height: 350px;
    background-color: #05001c;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.habilidades-item img {
    height: 40%;
    
}
.habilidades-item h1 {
    color: #57c0e0;
    font-size: 2rem;
    margin-top: 25px;
}


/* PORTIFOLIO  ---------------------------------------------------------------------*/

#portifolio {
    width: 100%;
    height: 100%;
    padding: 5rem;
    background-color: #05001c;
}
.portifolio-titulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portifolio-titulo h1 {
    color: #57c0e0;
    font-size: 3rem;
    font-family: 'Unbounded';
}
.portifolio-container {
    width: 100%;
    display: grid;   
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto; 
    margin-top: 40px;
}

.portifolio-item {
    margin: 20px;
    width: 300px;
    height: 300px;
    border: 2px solid #57c0e0;
    border-radius: 2rem;
    padding: 1rem;
    scale: 0.9;
    transition: all ease 0.3s;
}
.portifolio-item:hover {
    scale: 1;
}
.portifolio-item img {
    width: 100%;
    border-radius: 1rem;
}
.portifolio-item h1 {
    color: #57c0e0;
    margin-top: 10px;
    font-size: 1.4rem;
}

.portifolio-item h3 {
    color: #f4ebdc;
    font-size: 0.7rem;
    font-weight: 300;
    margin-top: 5px;
}

.portifolioLink {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.portifolioLink .acessarProjeto {
    background-color: #57c0e0;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #05001c;
    border-radius: 1rem;
    font-weight: 300;
    padding: 0.7rem 1.6rem;
    transition: all ease 0.3s;
}
.portifolioLink .acessarProjeto:hover {
    background-color: #f4ebdc;
}

.portifolioLink .portifolio-git {
    border: 1px solid #fafafa;
    border-radius: 0.7rem;
    padding: 0.3rem 0.5rem;
    margin-left: 10px;
    transition: all ease 0.3s;
}
.portifolioLink .portifolio-git img {
    width: 30px;
}
.portifolioLink .portifolio-git:hover {
    background-color: #57c0e0;
}


/* FOOTER  ---------------------------------------------------------------------*/

#footer {
    width: 100%;
    height: 50vh;
    background-color: #57c0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-redeSociais {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3rem 2rem;

}
.footer-redesSociais-item {
    background-color: #05001c;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: all ease 0.3s;
    margin-left: 20px;
   
}
.footer-redesSociais-item:hover {
 background-color: #fafafa;
}
.footer-redeSociais .footer-img {
    width: 150px;
}

.footer-redesSociais-item img {
    width: 100%; 
}
.footer-rodape {
    width: 80%;
}

/* MENU-HAMBURGUER  ---------------------------------------------------------------------*/

@keyframes scale-in {
    0% {
      height: 0;
    }
    100% {
      height: 300px;
    }}

.menu-hamburguer {
    width: 300px;
    height: 300px;
    position: fixed;
    z-index: 1000;
    margin-top: 100px;
    background-color: #fafafa;
    right: 0;
    display: none;
    animation-name: scale-in;
    animation-duration: 0.3s;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}
.menu-hamburguer a {
    font-size: 1.4rem;
    color: #00162f;
    font-weight: 400;
    font-family: 'Unbounded';
    cursor: pointer;
    margin-top: 10px;
    transition: all ease 0.3s;
    text-decoration: none;
}
.menu-hamburguer a:hover {
    color: #319cbd;
}


/* SERVICOS  ---------------------------------------------------------------------*/

#hobbies {
    width: 100%;
    height: 100%;
    background-color: #05001c;
    background-image: url('img/fundo-hobbies.png');
    background-size: cover;
    background-position: center;
    margin-top: 0;
    padding: 3.5rem 6rem;

}

.hobbies-textos {

    width: 100%;
    padding: 3.5rem 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hobbies-textos h1 {
    color: #57c0e0;
    font-size: 3rem;
    letter-spacing: -2px;
}
.hobbies-container {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-around;
}

.hobbies-item {
    width: 400px;
    height: 350px;
    border: solid 2px #d8d7d7;
    border-radius: 3rem;
    transition: all ease 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
}
.hobbies-item:hover { 
    border-bottom: solid 15px #57c0e0;
    background-color: #00162f;
}

.hobbies-item img {
    height: 100px;
}
.hobbies-item h1 {
    margin-top: 20px;
    font-size: 1.6rem;
    line-height: 30px;
    color: #57c0e0;
}
.hobbies-item h3 {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #d8d7d7;
}

/* SERVICOS  ---------------------------------------------------------------------*/


#contatos {
    width: 100%;
    background-color: #05001c;
    padding: 3.5rem 6rem;
    display: flex;
    flex-direction: column;

}
.contato-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contato-title h1 {
    color: #57c0e0;
    font-size: 3rem;
    letter-spacing: -2px;
}
.contatos-div {
    width: 50%;
    background-color: #57c0e0;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contatos-div img {
    height: 60%;
}


@media(max-width: 1200px) {
    #inicio {
        width: 100%;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        padding: 0rem 2rem;
        padding-top: 100px;
        flex-direction: column;
    }
    .inicio-informacoes {
        height: auto;
        width: 100%;
        margin-right: 0;
    
    }
    .inicio-informacoes h1 {

        font-size: 2.7rem;
        margin-top: -10px;
        letter-spacing: -2px;
    
    }
    .inicio-informacoes h2 {
        color: #fafafa;
        font-size: 2rem;
        letter-spacing: -2px;
    }
    .inicio-informacoes h3 {
        color: #fafafa;
        font-weight: 300;
        font-size: 1rem;
        letter-spacing: 5px;
    }
    .inicio-informacoes a {
        color: #fafafa;
        margin-top: 20px;
        font-size: 1rem;
        border: 2px solid #fafafa;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 0.8rem;
        border-radius: 2rem;
        transition: all ease 0.3s;
        cursor: pointer;
    }
    .inicio-informacoes a:hover {
        background-color: #fafafa;
        color: #0a012e;
    }
    #inicio img {
        height: 45vh;

        margin-top: 10px;
    }

    
    


    /* HEADER  ---------------------------------------------------------------------*/
header {
    width: 100vw;
    height: 100px;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2000;
    left: 0;
    right: 0;
    top: 0;

}

header .navegacao {
    display: none;
}



/* INCLUDE  ---------------------------------------------------------------------*/


#include {
    width: 100%;
    height: 100%;

    flex-direction: column-reverse;
}
#include iframe {
    border-radius: 2rem;
    width: 80%;
}

#include h1 {

    font-size: 3rem;
    font-family: 'Unbounded';
    line-height: 45px;
    margin-left: 0;
    padding: 3rem 2rem;

}

/* SOBRE MIM  ---------------------------------------------------------------------*/

#sobreMim {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 2rem;
    margin-top: 5rem;
}

#sobreMim img {
    height: auto;
    width: 80%;
}

.sobreMim-texto {
    margin-top: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    max-width: 700px;
}
.sobreMim-texto h1 {
    font-family: 'Unbounded';
    font-size: 2rem;
}
.sobreMim-texto h3 {
    margin-top: 10px;
    line-height: 30px;
    font-family: 'Unbounded';
    font-weight: 300;
    font-size: 1rem;
}


/* HOBBIES  ---------------------------------------------------------------------*/

#hobbies {
    width: 100vw;
    height: 100%;
    background-color: #05001c;
    background-image: url('img/fundo-hobbies.png');
    background-size: cover;
    background-position: center;

    margin-top: 100px;
    padding: 2rem 2rem;

}

.hobbies-textos {

    width: 100%;
    padding: 3.5rem 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hobbies-textos h1 {
    color: #57c0e0;
    font-size: 3rem;
    letter-spacing: -2px;
}
.hobbies-container {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.hobbies-item {
    width: 100%;
    height: 350px;
    border: solid 2px #d8d7d7;
    border-radius: 3rem;
    transition: all ease 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
    margin-top: 20px;
}

.hobbies-item img {
    height: 100px;
}


/* PORTIFOLIO  ---------------------------------------------------------------------*/

#portifolio {
    width: 100%;
    height: 100%;
    padding: 5rem;
    background-color: #05001c;
}
.portifolio-titulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portifolio-titulo h1 {
    color: #57c0e0;
    font-size: 3rem;
    font-family: 'Unbounded';
}
.portifolio-container {
    width: 100%;
    display: flex;   
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 40px;
}

.portifolio-item {
    margin: 10px;
    width: 300px;
    height: 300px;
    border: 2px solid #57c0e0;
    border-radius: 2rem;
    padding: 1rem;
    scale: 0.9;
    transition: all ease 0.3s;
}
.portifolio-item:hover {
    scale: 1;
}
.portifolio-item img {
    width: 100%;
    border-radius: 1rem;
}
.portifolio-item h1 {
    color: #57c0e0;
    margin-top: 10px;
    font-size: 1.4rem;
}

.portifolio-item h3 {
    color: #f4ebdc;
    font-size: 0.7rem;
    font-weight: 300;
    margin-top: 5px;
}

.portifolioLink {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.portifolioLink .acessarProjeto {
    background-color: #57c0e0;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #05001c;
    border-radius: 1rem;
    font-weight: 300;
    padding: 0.7rem 1.6rem;
    transition: all ease 0.3s;
}
.portifolioLink .acessarProjeto:hover {
    background-color: #f4ebdc;
}


    /* FOOTER  ---------------------------------------------------------------------*/

    #footer {
        width: 100%;
        height: 45vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
    }
    
    .footer-redeSociais {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 2rem 2rem;
    
    }
    .footer-redesSociais-item {
        background-color: #05001c;
        width: 40px;
        height: 40px;
        padding: 7px;
        border-radius: 25px;
        cursor: pointer;
        transition: all ease 0.3s;
        margin-left: 5px;
       
    }
    .footer-redesSociais-item:hover {
     background-color: #fafafa;
    }
    .footer-redeSociais .footer-img {
        width: 100px;
    }
    
    .footer-redesSociais-item img {
        width: 100%; 
    }
    .footer-rodape {
        width: 200%;
    }


/* habilidades  ---------------------------------------------------------------------*/

#habilidade {
    width: 100%;
    height: 80vh;
    padding: 5rem 0px;
}
.habilidade-titulo {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.habilidade-titulo h1 {
    color: #05001c;
    font-family: 'Unbounded';
    font-size: 2rem;
}





.container-habilidades {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.habilidades-seta-right,
.habilidades-seta-left {
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.habilidades-seta-right {
    justify-content: end;
}

.habilidades-seta-right svg,
.habilidades-seta-left svg {
    width: 40px;
}

.habilidades-seta-right > svg path,
.habilidades-seta-left > svg path {
    
    fill: #05001c;
    transition: all ease 0.3s;
    cursor: pointer;
}

.habilidades-seta-right svg:hover path,
.habilidades-seta-left svg:hover path {
    fill: #f4ebdc;
}

.habilidades-listarea {
    height: 100%;
    width: 100%;

    overflow: hidden;
}

.habilidades-list {
    height: 100%;
    width: 3400px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    transition: all ease 0.3s;
}

.habilidades-item {
    width: calc(100vw - 80px);
    height: 350px;
    background-color: #05001c;
    margin-left: 0px;
    margin-right: 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.habilidades-item img {
    height: 40%;
    
}
.habilidades-item h1 {
    color: #57c0e0;
    font-size: 2rem;
    margin-top: 25px;
}



.contato-provisorio {
    flex-direction: column;
}
.contatos-div {
    width: 100%;
    margin-top: 30px;
    border-radius: 3rem;
}
.contatos-div img {
    height: auto;
    width: 80%;
}
#contatos {
    padding: 5rem 2rem;
}

}