* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    background-color: #fafafa;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: #fafafa;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #319cbd;    
    border-radius: 20px;       
    border: 3px solid #57c0e0; 
  }


/* HEADER  ---------------------------------------------------------------------*/

header {
    width: 100vw;
    height: 100px;
    background-color: #319cbd;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}
header img {
    height: 40px;
}

header .material-symbols-outlined {
    color: #fafafa;
    font-size: 50px;
    cursor: pointer;
    transition: all ease 0.3s;

}
header .material-symbols-outlined:hover {
    color: #57c0e0;
}




/* INICIO  ---------------------------------------------------------------------*/

#inicio {
    margin-top: 100px;
    width: 100%;
    height: 60vh;
    background-color: #57c0e0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inicio .foto{
    height: 100%;
}

#inicio .logo{
    height: 80%;
}

/* POSTS  ---------------------------------------------------------------------*/

#post {
    width: 100%;
    height: 100%;
    display: flex;
}
.postleft {
    width: 70vw;
    height: 100%;
    display: flex;
    padding: 5rem 3rem;
    flex-direction: column;


}
.post-right {
    width: 30vw;
    height: 100vh;
    padding: 5rem 1rem;
}

.post-item {
    width: 100%;
    height: auto;
    background-color: #05001c;
    border-radius: 2rem;
    padding: 3rem;
    margin-top: 50px;
}
.post-cabecalho {
    margin-bottom: 30px;
}
.post-cabecalho h1 {
    color: #05001c;
    font-size: 4rem;
    font-weight: 800;
}

.post-item h1 {
    color: #57c0e0;
    font-size: 2rem;
    letter-spacing: -2px;
}
.post-item h3 {
    color: #fafafa;
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 20px;
    line-height: 30px;
}
.post-item h2 {
    color: #57c0e0;
    font-size: 1rem;
    width: auto;
    margin-top: 30px;
}
.post-item img {
    width: 60px;
}

.post-right .doPost {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #57c0e0;
    padding: 2rem;
    border-radius: 2rem;

}
.doPost textarea,
.doPost input {
    background-color: #319cbd;
    border-radius: 0.8rem;
    height: 40px;
    border: 0;
    color: #fafafa;
    margin-top: 20px;
    padding:1rem;
}
textarea::placeholder,
input::placeholder {
    color: #fafafa;
  }

.doPost h1 {
    color: #fafafa;
    font-size: 2rem;
    letter-spacing: -2px;
    margin: auto;
}
.doPost button {
    color: #fafafa;
    background-color: #57c0e0;
    border: 3px solid #fafafa;
    border-radius: 1rem;
    font-weight: 600;
    font-size: 1rem;
    width: 50%;
    padding: 0.5rem 1rem;
    margin: auto;
    margin-top: 30px;
    transition: all ease 0.3s;
    cursor: pointer;
    
}
.doPost button:hover {
    background-color: #fafafa;
    color: #319cbd;
}

/* FOOTER  ---------------------------------------------------------------------*/

#footer {
    width: 100%;
    height: 50vh;
    background-color: #57c0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-redeSociais {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3rem 2rem;

}
.footer-redesSociais-item {
    background-color: #05001c;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: all ease 0.3s;
    margin-left: 20px;
   
}
.footer-redesSociais-item:hover {
 background-color: #fafafa;
}
.footer-redeSociais .footer-img {
    width: 150px;
}

.footer-redesSociais-item img {
    width: 100%; 
}
.footer-rodape {
    width: 80%;
}


/* MENU-HAMBURGUER  ---------------------------------------------------------------------*/

@keyframes scale-in {
    0% {
      height: 0;
    }
    100% {
      height: 300px;
    }}

.menu-hamburguer {
    width: 300px;
    height: 300px;
    position: fixed;
    z-index: 1000;
    background-color: #fafafa;
    right: 0;
    display: none;
    animation-name: scale-in;
    animation-duration: 0.3s;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}
.menu-hamburguer a {
    font-size: 1.4rem;
    color: #00162f;
    font-weight: 400;
    font-family: 'Unbounded';
    cursor: pointer;
    margin-top: 10px;
    transition: all ease 0.3s;
    text-decoration: none;
}
.menu-hamburguer a:hover {
    color: #319cbd;
}




/* RESPONSIVIDADE  ---------------------------------------------------------------------*/


@media (max-width: 1200px){

    header {
        padding: 0 2rem;
       
    }

    #inicio {
        margin-top: 100px;
        width: 100%;
        height: 60vh;
        flex-direction: column-reverse;
        overflow: hidden;
    }
    
    #inicio .foto{
        height: auto;
        margin-bottom: -70px;
        width: 80%;
    }
    
    #inicio .logo{
        height: auto;
        width: 70%;
    }






    #post {
        flex-direction: column-reverse;
    }
    .postleft {
        width: 100vw;
        height: 100%;
        padding: 1rem 1rem;
        flex-direction: column;
    }
    .post-right {
        width: 100vw;
        height: 100%;
        padding: 5rem 1rem;
    }
    
    .post-item {
        width: 100%;
        height: auto;
        background-color: #05001c;
        border-radius: 2rem;
        padding: 2rem;
        margin-top: 40px;
        
    }
    .post-cabecalho {
        margin-bottom: 10px;
    }
    .post-cabecalho h1 {
        text-align: center;
    }
    
    .post-item h1 {
        font-size: 1.7rem;
    }
    .post-item h3 {
        font-size: 1rem;
    }
    .post-item h2 {
        font-size: 0.7rem;
        width: auto;
        margin-top: 30px;
    }
    .post-item img {
        width: 60px;
    }
    
    .post-right .doPost {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #57c0e0;
        padding: 2rem;
        border-radius: 2rem;
    
    }
 
    /* FOOTER  ---------------------------------------------------------------------*/

#footer {
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.footer-redeSociais {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 2rem;

}
.footer-redesSociais-item {
    background-color: #05001c;
    width: 40px;
    height: 40px;
    padding: 7px;
    border-radius: 25px;
    cursor: pointer;
    transition: all ease 0.3s;
    margin-left: 5px;
   
}
.footer-redesSociais-item:hover {
 background-color: #fafafa;
}
.footer-redeSociais .footer-img {
    width: 100px;
}

.footer-redesSociais-item img {
    width: 100%; 
}
.footer-rodape {
    width: 200%;
}

 }



