* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    background-color: #fafafa;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: #fafafa;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #319cbd;    
    border-radius: 20px;       
    border: 3px solid #57c0e0; 
  }

header {
    width: 100%;
    height: 100px;
    background-color: #319cbd;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}
header img {
    height: 40px;
}

header .material-symbols-outlined {
    color: #fafafa;
    font-size: 50px;
    cursor: pointer;
    transition: all ease 0.3s;

}
header .material-symbols-outlined:hover {
    color: #57c0e0;
}




/* INICIO  ---------------------------------------------------------------------*/

#inicio {
    margin-top: 100px;
    width: 100%;
    height: 60vh;
    background-color: #57c0e0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inicio .foto{
    height: 100%;
}

#inicio .logo{
    height: 80%;
}

/* POSTS  ---------------------------------------------------------------------*/

#post {
    width: 100%;
    height: 100vh;
    display: flex;
}
.post-left {
    width: 70vw;
    height: 100%;
    display: flex;
    padding: 5rem 3rem;

    flex-direction: column;


}
.post-right {
    width: 30vw;
    height: 100%;
    background-color: red;
}

.post-item {
    width: 100%;
    height: 300px;
    background-color: #05001c;
    border-radius: 2rem;
}
.post-cabecalho {
    margin-bottom: 30px;
}
.post-cabecalho h1 {
    color: #05001c;
    font-size: 4rem;
    font-weight: 800;
}