.imgLoop {
    position: absolute;
    width: 100%;
    margin-bottom: -100px;
    animation: girarInfinito 15s linear infinite;
}

@keyframes girarInfinito {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.scale {
    width: 100%; /*o tamanho vai 100% de 150 */
    transform: scale(0.9);
    transition: all ease 0.2s;
}
.scale:hover {
    transform: scale(1); /* quando passar o mouse a imagem vai de 0.9* 100% para 1*100%*/
}