@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
$theme-colors: (
  "primary": #05001c,
  "secondary": #2b499e,
  "info": #17A2B8,
  "success": #00bf00,
  "warning": #d9a300,
  "danger": #DC3545,
  "dark": #0d0045,
  "light": #cccccc,
  "white": #ffffff,
);
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer * 1.5,
  4: $spacer * 3,
  5: $spacer * 7,
);

$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$h1-font-size:                $font-size-base * 5;
$h2-font-size:                $font-size-base * 3.5;
$h3-font-size:                $font-size-base * 2.5;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base * 0.9;


.nav-link {
  color: #2b499e !important;
}

.nav-link.active {
  color: #cccccc !important;
}
a.active {
  color: #cccccc !important;
  padding-bottom: 8px;
  border-bottom: 2px solid #cccccc;
}

.spinner-grow {
  width: 1em !important;
  height: 1em !important;
}

.cursor-pointer {
  cursor: pointer;
}

:root {
  --ion-color-primary: #ffffff !important;
  --ion-background-color: #05001c !important;
}