

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

@import "./variables";

@import '~bootstrap/scss/bootstrap.scss';
@import 'material-icons/iconfont/material-icons.css';

* { 
  padding: 0;
  margin: 0;
  font-family: "Unbounded", sans-serif;
  box-sizing: border-box;
}

.montserrat {
  font-family: "Montserrat", sans-serif !important;
}

h1 {
  letter-spacing: -3px;
}

h2 {
  letter-spacing: -3px;
}


body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #05001c;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #2b499e;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #2b499e;  /* creates padding around scroll thumb */
}